html {
    background: #f8f4e6;
}

.container {
    height: 100vh;
    margin: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    font-family: Helvetica;
    text-transform: uppercase;
}

.total {
    font-family: Helvetica;
    color: rgba(0,0,0,.6);
    margin-top: 5px;
}

.info-boxes {
    display: flex;
    width: 80%;
    margin-bottom: 5px;
    justify-content: space-around;
    font-family: Helvetica;
    color: rgba(0,0,0,.6);
    align-items: center;
}

.info-boxes div {
    display: flex;
    align-items: center;
    width: 165px;
    justify-content: inherit;
}

.html-box, .font-box, .image-box, .js-box, .css-box {
    height: 10px;
    width: 10px !important;
    border-radius: 3px;
}

input {
    background: transparent;
    font-size: 2rem;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    width: 25rem;
    color: rgba(0,0,0,.6);
}

input:focus, textarea:focus {
    outline: none;
}

.html, .font, .css, .js, .image {
    text-align: center;
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.6);
}

.html, .html-box {
    background: #37393A;
}

.html {
    color: rgba(255,255,255,0.6);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.css, .css-box {
    background: #00897b;
}

.font, .font-box {
    background: #EF944D;
}

.image, .image-box {
    background: #EBC050;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.js, .js-box {
    background: #598FC2;
}

.explanation-container {
    border: 1px solid #63625c;
    position: absolute;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    background: #f8f4e6;
    border-radius: 3px;
    padding-top: 5px;
    overflow: auto;
    max-height: 35vh;
}

.explanation-container a {
    padding: 2.5px;
    color: #383a3a;
    text-decoration: none;
}

.hide {
    display: none;
}
